<html>

<head>
    <style media="screen" type="text/css">
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #F00;
        }
        #gl_canvas {
            border: thin solid #0F0;
            margin: auto auto;
            display: block;
        }
        .floatLeft {
            float: Left;
        }
        .floatRight {
            float: Right;
        }
        .warningBox {
            text-align:center;
            color: #0F0;
            padding: 15px;
            width: 100px;
            height: 50px;
            margin-top: 20px;
        }
        .warningBox span {
            text-height: 20px;
        }
        .largeLabel {
            text-align:center;
            color: #0F0;
            padding: 15px;
            width: 100px;
            height: 50px;
            margin-top: 20px;
        }
        .largeLabel span {
            text-height:20px;
            font-size: 40px;
        }
        .smallLabel {
            margin: -20px 0px 20px 20px;
        }
        .smallLabel span {
            text-height:10px;
            font-size: 18px;
            color: #0F0;
        }
        .button {
            text-align:center;
            color: #0F0;
            padding: 15px;
            width: 100px;
            height: 20px;
            border: thin solid #0F0;
        }
        .button span {
            text-height:20px;
        }
        .button:hover {
            background-color: #555;
            cursor: pointer;
        }
        .button.selected {
            background-color: #555;
        }
        .button.smallButton {
            width: 20px;
            padding: 4px;
        }
        .button.halfButton {
            width: 35px;
        }
        .slim {
            height: 20px !important;
            padding: 2px !important;
            width: 61px !important;
        }
        .slim span {
            height 5px; !important
        }
        .indicator {
            height: 20px;
            width: 20px;
            background-color: #007500;
            border-radius: 50%;
            display: none;
        }
        .controls {
            display: block;
            position: absolute;
        }
        .loadBox {
            position: absolute;
            display: block;
            z-index: 100;
            background-color: #000;
            color: #0F0;
            width: 450px;
            border: thin solid #0F0;
            padding: 10px 40px;
        }
        .hidden {
            display: None;
        }
        .loadBox p {
            margin: 5px;
            padding: 0px;
            float: left;
            width:100%
        }
        .loadBox input {
            line-height:2;
            width: 300px;
        }
        .loadBox select{
            line-height:2;
            min-width: 300px;
            margin: 5px 0px;
        }
        .loadBox table {
            color: #0F0;
        }
        .loadBox td {
            padding: 5px 15px;
        }
        .loadBox table input{
            width: 75px;
        }
        .width100 {
            width: 100%;
        }
    </style>

    <title>my awesome website</title>

</head>

<body>
    
    <div class="controls">
        <div class="button selected" id="load_button"><span>load</span></div>
        <div class="loadBox" id="load_box">
            <p>file selection:</p>
            <p style="width:auto;margin:0px 5px">
                <input type="text" id="file_input" class="textInput floatLeft">
                <div class="button smallButton floatLeft" id="file_get"><span>go</span></div>
                <div class="button smallButton floatRight" id="file_cancel"><span>X</span></div>
            </p>
            <div class="width100"></div>
            <p style="width:auto;margin:0px 5px">
                <select id="file_select"></select>
                <div class="button smallButton floatLeft" id="file_up_level"><span>..</span></div>
            </p>
         </div>
         <div class="button" id="options_button"><span>options</span></div>
         <div class="loadBox hidden" id="options_box">
            <p style="width:auto;margin:0px 5px">
                <table class="floatLeft">
                    <tr>
                        <td>frame rate:</td>
                        <td><input type="text" id="frame_rate_input" class="textInput floatLeft"></td>
                        <td>Hz</td>
                    </tr>
                    <tr>
                        <td>packet size:</td>
                        <td><input type="text" id="packet_size_input" class="textInput floatLeft"></td>
                        <td>frames</td>
                    </tr>
                    <tr>
                        <td>buffer size:</td>
                        <td><input type="text" id="buffer_size_input" class="textInput floatLeft"></td>
                        <td>frames</td>
                    </tr>
                    <tr>
                        <td>normalizing constant:</td>
                        <td><input type="text" id="norming_value_input" class="textInput floatLeft"></td>
                        <td></td>
                    </tr>
                </table>
                <div class="button smallButton floatRight" id="options_cancel"><span>ok</span></div>
            </p>
        </div>
        <div class="button" id="start_button"><span>start</span></div>
        <div class="button" id="stop_button"><span>stop</span></div>
        <div class="largeLabel" id="frame_number_label">
            <span><span id="this_frame_label">0</span>/<span id="frame_num_label">0</span>
            </span>
        </div>
        <div class="smallLabel" id="step_size_label"><span>step size: <span id="step_size_span">1</span></span></div>
        <div><input type="range" name="frame_slider" id="frame_slider" min="0" max="100" value="0"></div>
        <div>
            <div class="button halfButton floatLeft" id="single_reverse_button"><span>&#60;</span></div>
            <div class="button halfButton floatLeft" id="single_step_button"><span>&#62;</span></div>
        </div>
        <div>
            <div class="button halfButton floatLeft slim" id="reduce_step_button"><span>&#60;&#60;</span></div>
            <div class="button halfButton floatLeft slim" id="increase_step_button"><span>&#62;&#62;</span></div>
        </div>
        <div class="warningBox" id="buffering_warning"><span></span></div>
        <div> 
            <p>min:<span id="buff_min"></span>
            <p>max:<span id="buff_max"></span>
            <p>curr:<span id="buff_curr"></span>
        </div>
        <div class="indicator floatLeft" id="indicator"><span>&nbsp;</span></div>
    </div>
    <div class="canvasContainer">
        <canvas id="gl_canvas" width="800" height="700"></canvas>
    </div>

    <script type="text/javascript" 
        src="{{ url_for('static', filename='scripts/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" 
        src="{{ url_for('static', filename='scripts/glMatrix-0.9.5.min.js') }}"></script>
    <script type="text/javascript" 
        src="{{ url_for('static', filename='scripts/frame_buffer.js') }}"></script>
    <script type="text/javascript" 
        src="{{ url_for('static', filename='scripts/webgl_helpers.js') }}"></script>

    <script id="shader-fs" type="x-shader/x-fragment">
        precision mediump float;

        varying vec2 vTextureCoord;
        uniform sampler2D uSampler;
        void main(void) {
            gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
        }
    </script>

    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 aVertexPosition;
        attribute vec2 aTextureCoord;
        varying vec2 vTextureCoord;

        uniform mat4 uMVMatrix;
        uniform mat4 uPMatrix;

        void main(void) {
            gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
            vTextureCoord = aTextureCoord;
        }
    </script>

    <script type="text/javascript">
        var gl
        var zProjection
        var xProjection
        var yProjection
        var g_frameBuffer
        var g_filePath
        var g_requestStartFrame
        var g_frameDelta = 1
        var g_frameRate = 166.66
        var g_packetSize = 8
        var g_normingVal = 2194

        var g_sequenceInfo = {}
        g_sequenceInfo.max = 1

        function initShaders() {
            var shaderProgram
            var fragmentShader = getShader(gl, "shader-fs")
            var vertexShader = getShader(gl, "shader-vs")

            shaderProgram = gl.createProgram()
            gl.attachShader(shaderProgram, vertexShader)
            gl.attachShader(shaderProgram, fragmentShader)
            gl.linkProgram(shaderProgram)

            if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS)) {
                alert("Cold not initialise shaders")
            }
            gl.useProgram(shaderProgram)

            shaderProgram.vertexPositionAttribute = gl.getAttribLocation(shaderProgram, "aVertexPosition")
            gl.enableVertexAttribArray(shaderProgram.vertexPositionAttribute)

            shaderProgram.textureCoordAttribute = gl.getAttribLocation(shaderProgram, "aTextureCoord")
            gl.enableVertexAttribArray(shaderProgram.textureCoordAttribute)

            shaderProgram.pMatrixUniform = gl.getUniformLocation(shaderProgram, "uPMatrix")
            shaderProgram.mvMatrixUniform = gl.getUniformLocation(shaderProgram, "uMVMatrix")
            shaderProgram.samplerUniform = gl.getUniformLocation(shaderProgram, "uSampler")
            
            return shaderProgram
        }


        var mvMatrix = mat4.create()
        var pMatrix = mat4.create()
        function setMatrixUniforms() {
            gl.uniformMatrix4fv(zProjection.shaderProgram.pMatrixUniform, false, pMatrix)
            gl.uniformMatrix4fv(zProjection.shaderProgram.mvMatrixUniform, false, mvMatrix)
            gl.uniformMatrix4fv(xProjection.shaderProgram.pMatrixUniform, false, pMatrix)
            gl.uniformMatrix4fv(xProjection.shaderProgram.mvMatrixUniform, false, mvMatrix)
            gl.uniformMatrix4fv(yProjection.shaderProgram.pMatrixUniform, false, pMatrix)
            gl.uniformMatrix4fv(yProjection.shaderProgram.mvMatrixUniform, false, mvMatrix)
        }
        
        var squareVertexPositionBuffer
        var textureCoordBuffer
        function initBuffers() {
            squareVertexPositionBuffer = createSquareVertexPositionBuffer(gl,2.0,2.0)
            textureCoordBuffer = createTextureCoordBuffer()
        }

        var image = new Image()
        function getNextFrame(response) {
            image.src = 'data:image/jpeg;base64,'+response.z_projection
            xProjection.texture.image.src = 'data:image/jpeg;base64,'+response.x_projection
            yProjection.texture.image.src = 'data:image/jpeg;base64,'+response.y_projection
        }
    
        function drawScene() {
            gl.viewport(0,0, gl.viewportWidth, gl.viewportHeight)
            gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT)

            mat4.perspective(45, gl.viewportWidth / gl.viewportHeight, 0.1, 100.0, pMatrix)

            mat4.identity(mvMatrix)

            mat4.translate(mvMatrix, [-0.25, 0.25, -3.5])
            gl.bindBuffer(gl.ARRAY_BUFFER, zProjection.vertexPositionBuffer)
            gl.vertexAttribPointer(zProjection.shaderProgram.vertexPositionAttribute, 
                    zProjection.vertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0)

            gl.bindBuffer(gl.ARRAY_BUFFER, zProjection.textureCoordBuffer)
            gl.vertexAttribPointer(zProjection.shaderProgram.textureCoordAttribute, 
                    zProjection.textureCoordBuffer.itemSize, gl.FLOAT, false, 0, 0)

            gl.activeTexture(gl.TEXTURE0)
            gl.bindTexture(gl.TEXTURE_2D, zProjection.texture)
            gl.uniform1i(zProjection.shaderProgram.samplerUniform, 0)
            
            setMatrixUniforms()
            gl.drawArrays(gl.TRIANGLE_STRIP, 0, zProjection.vertexPositionBuffer.numItems)

            mat4.translate(mvMatrix, [1.35, 0.0, 0.0])
            gl.bindBuffer(gl.ARRAY_BUFFER, xProjection.vertexPositionBuffer)
            gl.vertexAttribPointer(xProjection.shaderProgram.vertexPositionAttribute, 
                    xProjection.vertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0)

            gl.bindBuffer(gl.ARRAY_BUFFER, xProjection.textureCoordBuffer)
            gl.vertexAttribPointer(xProjection.shaderProgram.textureCoordAttribute, 
                    xProjection.textureCoordBuffer.itemSize, gl.FLOAT, false, 0, 0)

            gl.activeTexture(gl.TEXTURE0)
            gl.bindTexture(gl.TEXTURE_2D, xProjection.texture)
            gl.uniform1i(xProjection.shaderProgram.samplerUniform, 0)

            setMatrixUniforms()
            gl.drawArrays(gl.TRIANGLE_STRIP, 0, xProjection.vertexPositionBuffer.numItems)

            mat4.translate(mvMatrix, [-1.35, -1.35, 0.0])
            gl.bindBuffer(gl.ARRAY_BUFFER, yProjection.vertexPositionBuffer)
            gl.vertexAttribPointer(yProjection.shaderProgram.vertexPositionAttribute, 
                    yProjection.vertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0)

            gl.bindBuffer(gl.ARRAY_BUFFER, yProjection.textureCoordBuffer)
            gl.vertexAttribPointer(yProjection.shaderProgram.textureCoordAttribute, 
                    yProjection.textureCoordBuffer.itemSize, gl.FLOAT, false, 0, 0)

            gl.activeTexture(gl.TEXTURE0)
            gl.bindTexture(gl.TEXTURE_2D, yProjection.texture)
            gl.uniform1i(yProjection.shaderProgram.samplerUniform, 0)
            
            setMatrixUniforms()
            gl.drawArrays(gl.TRIANGLE_STRIP, 0, yProjection.vertexPositionBuffer.numItems)
        }

        var play
        $("#gl_canvas").ready(function webGLStart (){
            var canvas = document.getElementById("gl_canvas")
            gl = initGL(canvas)
            zProjection = {
                shaderProgram: initShaders(),
                vertexPositionBuffer: 
                    createSquareVertexPositionBuffer(gl,2.0,2.0),
                textureCoordBuffer: createTextureCoordBuffer(),
                texture: gl.createTexture()
            }
            zProjection.texture.image = image

            xProjection = {
                shaderProgram: initShaders(),
                vertexPositionBuffer: 
                    createSquareVertexPositionBuffer(gl,0.5,2.0),
                textureCoordBuffer: createTextureCoordBuffer(),
                texture: gl.createTexture()
            }           
            xProjection.texture.image = new Image()

            yProjection = {
                shaderProgram: initShaders(),
                vertexPositionBuffer: 
                    createSquareVertexPositionBuffer(gl,2.0,0.5),
                textureCoordBuffer: createTextureCoordBuffer(),
                texture: gl.createTexture()
            }           
            yProjection.texture.image = new Image()

            gl.clearColor(0.0, 0.0, 0.0, 1.0)
            gl.enable(gl.DEPTH_TEST)
            
            play = false
        })
        
        function playFramesFromQueue(forceStep) {
            $('#buff_min').text(g_frameBuffer.min())
            $('#buff_max').text(g_frameBuffer.max())
            var nextFrame = g_frameBuffer.next()
            if (g_frameBuffer.buffer.hasOwnProperty(nextFrame) && (play || forceStep)) {
                $('#buff_curr').text(nextFrame)
                $('#frame_slider').val(nextFrame)
                g_frameBuffer.current = nextFrame
                var thisFrame = g_frameBuffer.buffer[nextFrame]
                xProjection.texture.image.src = 'data:image/jpeg;base64,'+thisFrame.x
                yProjection.texture.image.src = 'data:image/jpeg;base64,'+thisFrame.y
                image.src = 'data:image/jpeg;base64,'+thisFrame.z
                $('#this_frame_label').text(parseInt(thisFrame.index)+1)
                setTimeout(function(){playFramesFromQueue()}, g_frameRate)

                if (!fetching && g_frameBuffer.max()-nextFrame <g_frameBuffer.maxLength) {
                    fetching = true
                    $('#buffering_warning').text('')
                    fetchFrames()
                }

            } else if (!g_frameBuffer.buffer.hasOwnProperty(nextFrame)) {
                $('#buffering_warning').text('buffering... please wait')
                play = false
                if (!fetching) {
                    fetching = true
                    fetchFrames()
                }
            } 
        }

        var fetching = true
        function fetchFrames() {
            if (fetching) {
                var delta = g_frameBuffer.frameDelta
                var frameIndex = g_frameBuffer.current

                while (g_frameBuffer.buffer.hasOwnProperty(frameIndex)) {
                    frameIndex += delta
                }
                if (delta < 0) {
                    delta = Math.min(Math.max(delta,-frameIndex),0)
                } else {
                    delta = Math.max(Math.min(delta,g_sequenceInfo.max),0)
                }

                if ((delta != 0)&&(Math.abs(frameIndex - g_frameBuffer.current)*4/3 <= Math.abs(g_frameBuffer.maxLength*delta))) {
                    $.ajax({
                    url: '/getFrames',
                        type: 'POST',
                        data: {
                            startFrame: frameIndex,
                            numFrames: g_packetSize,
                            path: g_filePath,
                            frameDelta: delta,
                            normingVal: g_normingVal
                        },
                        cache: false,
                    }).done(function(response) {
                        $('#indicator').show()
                        $('#indicator').fadeOut(1000)
                        if (response.hasOwnProperty('frame_'+g_frameBuffer.next())) {
                            $('#buffering_warning').text('buffering... press start to resume playback')
                        }
                        var index
                        var name
                        for (var frame in response) {
                            name = frame.split('_')
                            if (name[0] == 'frame') {
                                index = name[1]
                                response[frame].index = index
                                g_frameBuffer.buffer[index] = response[frame]
                            }
                        }

                        $('#buff_min').text(g_frameBuffer.min())
                        $('#buff_max').text(g_frameBuffer.max())
                        $('#buff_curr').text(g_frameBuffer.current)
                        if (response.end != true) {
                            fetchFrames() 
                        } else {
                            fetching = false
                        }

                        var minFrame = g_frameBuffer.min()
                        var maxFrame = g_frameBuffer.max()
                        while ((g_frameBuffer.length() > g_frameBuffer.maxLength)&&(g_frameBuffer.frameDelta > 0)) {
                            delete g_frameBuffer.buffer[g_frameBuffer.min()]
                        }
                        while ((g_frameBuffer.length() > g_frameBuffer.maxLength)&&(g_frameBuffer.frameDelta < 0)) {
                            delete g_frameBuffer.buffer[g_frameBuffer.max()]
                        }
                    })
                } else {
                    fetching = false
                    if (play) {
                        $('#buffering_warning').text('')
                    } else {
                        $('#buffering_warning').text('press start to resume playback')
                    }
                 }
             }
        }


        image.onload = function() {
            updateTextureData(zProjection.texture)
            updateTextureData(xProjection.texture)
            updateTextureData(yProjection.texture)
            drawScene()
            //
            //THIS IS FOR SAVING THE CANVAS AS PNG FILES
            //
            /*var c = document.getElementById('gl_canvas')
            var p = c.toDataURL()
            $.ajax({
                url: '/saveImage',
                type: 'POST',
                cache: false,
                data: {
                    image: p.replace(/^data:image\/(png|jpg);base64,/, ""),
                    filename: 'frame_'+g_viewerFrame+'.png'
                }
            }).done(function(response){
            })*/
            
        }

        $('#start_button').click(function() {
            if (!play) {
                play = true
                playFramesFromQueue()
                if (fetching && play) {
                    $('#buffering_warning').text('')
                }
            }
        })

        $('#stop_button').click(function() {
            play = false
        })

        function resizeBuffers(x,y,z) {
           depth = 0.5
           if (x < y) {
                height = 2.0
                width = 2.0*x/y
           } else {
                height = 2.0*y/x
                width = 2.0
           }

           zProjection.vertexPositionBuffer = createSquareVertexPositionBuffer(gl,width,height)
           xProjection.vertexPositionBuffer = createSquareVertexPositionBuffer(gl,depth,height)
           yProjection.vertexPositionBuffer = createSquareVertexPositionBuffer(gl,width,depth)
        }
        
        function fetchInfo(filePath) {
            $.ajax({
                url: '/getInfo',
                type: 'POST',
                data: {
                    path: g_filePath,
                },
                    cache: false,
                }).done(function(response) {
                    $('#indicator').show()
                    $('#indicator').fadeOut(1000)
                    g_sequenceInfo=response,
                    $('#frame_num_label').text(g_sequenceInfo.max)  
                    g_normingVal = response.normalizingValue
                    fetching = true
                    resizeBuffers(response.width,response.height)
                    $('#frame_slider').attr('max',g_sequenceInfo.max)
                    fetchFrames()
                })
        }

        function setSelectedData(newFrameIndex) {
            g_frameBuffer = new FrameBuffer(350, 1)
            g_filePath = $('#file_input').val()
            if (g_filePath) {
                $('#buffering_warning').text('buffering.. please wait')
                fetchInfo()
            }
            $('#buff_min').text(g_frameBuffer.min())
            $('#buff_max').text(g_frameBuffer.max())
            $('#buff_curr').text(g_frameBuffer.current)
        }

        function fileSelection(file) {
            var fullPath = $('#file_input').val()
            if (!fullPath) {
                fullPath = '/'
            }
            if (file != '') {
                if (fullPath.slice(-1) != '/') {
                    fullPath = fullPath + '/'
                }
                fullPath = fullPath + file  
                $('#file_input').val(fullPath)
            }

            if ((fullPath.slice(-4) == 'sima') || (fullPath.slice(-2) == 'h5')) {
                $('#load_box').addClass('hidden')
                $('#load_button').removeClass('selected')
                setSelectedData()
            } else {
                $('#file_select').prop('disabled', true);
                $.get('/getFolders/'+fullPath.replace(/\//g , ":!"),function(html) {
                    $('#file_select').html('')
                    $('#file_select').html(html)
                    $('#file_select').prop('disabled', false);
                })
            }
        }

        $('#file_select').change(function() {
            fileSelection($('#file_select').val())
        })

        $('#file_get').click(function() {
            fileSelection('')
        })

        $('#load_button').click(function(){
            $('#load_button').addClass('selected')
            $('#load_box').removeClass('hidden')
        })

        $('#options_button').click(function(){
            $('#options_button').addClass('selected')
            $('#options_box').removeClass('hidden')

            $('#frame_rate_input').val(Math.round(String(1000/g_frameRate)))
            $('#packet_size_input').val(g_packetSize)
            $('#buffer_size_input').val(g_frameBuffer.maxLength)
            $('#norming_value_input').val(g_normingVal)
        })

        $('#options_cancel').click(function() {
            $('#options_box').addClass('hidden')
            $('#options_button').removeClass('selected')
            g_frameRate = 1000/$('#frame_rate_input').val()
            g_packetSize = parseInt($('#packet_size_input').val(),10)
            if (g_frameBuffer) {
                g_frameBuffer.maxLength = parseInt($('#buffer_size_input').val(),10)
                var normingVal = $('#norming_value_input').val()
                if (normingVal != g_normingVal) {
                    g_frameBuffer.buffer = {}
                    g_normingVal = normingVal
                    if (!fetching) {
                        fetching = true
                        fetchFrames()
                    }
                }
            }
        })

        $('#file_up_level').click(function() {
            var path = $('#file_input').val()
            if (path) {
                $('#file_input').val(path.substring(0,path.lastIndexOf('/')))
                fileSelection('') 
            }
        })

        $('#file_cancel').click(function() {
            $('#load_box').addClass('hidden')
            $('#load_button').removeClass('selected')
        })

        $('#increase_step_button').click(function() {
            if (g_frameBuffer.frameDelta > 0) {
                g_frameBuffer.frameDelta *= 2
            } else if (g_frameBuffer.frameDelta == -1) {
                g_frameBuffer.frameDelta *= -1
            } else {
                g_frameBuffer.frameDelta /= 2
            }
            $('#step_size_span').text(g_frameBuffer.frameDelta)

            if (!fetching) {
                fetching = true
                fetchFrames()
            }

        })

        $('#reduce_step_button').click(function() {
            if (g_frameBuffer.frameDelta < 0) {
                g_frameBuffer.frameDelta *= 2
            } else if (g_frameBuffer.frameDelta == 1) {
                g_frameBuffer.frameDelta *= -1
            } else {
                g_frameBuffer.frameDelta /= 2
            }
            $('#step_size_span').text(g_frameBuffer.frameDelta)

            if (!fetching) {
                fetching = true
                fetchFrames()
            }
        })

        $('#single_step_button').click(function(){
            var frameDelta = g_frameBuffer.frameDelta
            g_frameBuffer.frameDelta = Math.abs(frameDelta)
            playFramesFromQueue(true)
            g_frameBuffer.frameDelta = frameDelta
        })

        $('#single_reverse_button').click(function(){
            var frameDelta = g_frameBuffer.frameDelta
            g_frameBuffer.frameDelta = -Math.abs(frameDelta)
            playFramesFromQueue(true)
            g_frameBuffer.frameDelta = frameDelta
        })
        

        $('#frame_slider').change('dragstop',function() {
            g_frameBuffer.set_next($('#frame_slider').val())
            g_frameBuffer.current = $('#frame_slider').val()-g_frameBuffer.frameDelta
        })

    </script>

</body>

</html>
